{% extends 'form_app/shared/base.html' %}
{% load static %}  <!-- Carrega os arquivos estaticos da pagina -->
{% block title %}Editar Cliente{% endblock %} <!-- Título específico para esta página -->

{% block extra_css %} <!-- Adiciona o CSS especifico/unico da pagina -->
<link rel="stylesheet" href="{% static 'form_app/css/editar.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <form id="formulario" action="{% url 'editar' cliente_id %}" method="POST">
            <!-- Chave de segurança -->
            {% csrf_token %}
            <div class="ficha_cadastro">
                <h3 class="titulo">Dados do Cliente</h3>
                {% for field in dados.visible_fields %}
                {% if forloop.counter0|divisibleby:6 %}
                <div class="row">
                    {% endif %}
                    <div class="col-md-6">
                        <div id="inputs">
                            <label id="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        {{ field }}
                        {% if field.errors %}
                        <div class="alert alert-warning" role="alert" style="font-weight: bold;">
                            {% for error in field.errors %}
                            {{ error }} <!-- Aqui aparece a mensagem de erro -->
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% if forloop.counter0|divisibleby:6 and not forloop.first %}
                </div>
                {% elif forloop.last %}
            </div>
            {% endif %}
            {% endfor %}
            <!-- Salva as alterações dos dados do cliente -->
            <div class="centraliza_botao">
                <button id="botao" type="submit">Salvar Alterações</button>
            </div>
        </form>
    </div>
{% endblock %}