{% extends 'form_app/shared/base.html' %}
{% load static %}  <!-- Carrega os arquivos estaticos da pagina -->

{% block title %}Clientes Cadastrados{% endblock %} <!-- Título específico para esta página -->

{% block extra_css %} <!-- Adiciona o CSS especifico/unico da pagina -->
<link rel="stylesheet" href="{% static 'form_app/css/exibir.css' %}">
{% endblock %}

{% block content %}
    <div id="titulo_tabela">
        <h2>Clientes Cadastrados</h2>
    </div>
    <div class="buscar">
        <nav class="barra_pesquisa">
            <div class="container-fluid">
                <form action="{% url 'exibir' %}" method="POST" class="d-flex" role="search">
                                        <!-- Chave de segurança -->
                                        {% csrf_token %}
                    <input class="form-control me-2" type="search" name="cpf" placeholder="Buscar por CPF"aria-label="Search">
                    <button class="botao_pesquisa" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <!-- Exibe as mensagens e estiliza de acordo com a sua extra_tags correspondente em cada views-->
        {% if messages %} <!-- Mensagem da função 'buscar' em views -->
        <div class="div_mensagem">
            {% for message in messages %}
            <!-- Ao colocar message.tags na linha abaixo, a mensagem relacionada a 'buscar' não fica alinhada ao lado do botão de input da maneira correta, verificar! -->
            {% if 'buscar' in message.extra_tags %}
            <span class="messages {{ message.tags }}">{{ message }}</span>
            {% elif 'editar' in message.extra_tags %}
            <span class="messages {{ message.tags }}">{{ message }}</span>
            {% elif 'excluir' in message.extra_tags %}
            <span class="messages {{ message.tags }}">{{ message }}</span>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <!-- Inicio container -->
    <div class="container">
        <div class="borda_container">
            <div class="subtitulos">
                <h5 class="fonte_subtitulo" id="subtitulo_nome" scope="col">Nome</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_sobrenome" scope="col">Sobrenome</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_email" scope="col">Email</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_number" scope="col">CPF</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_status" scope="col">Status</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_editar" scope="col">Editar</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_excluir" scope="col">Excluir</h5>
            </div>
            {% for objeto in page_obj %}
            <!-- Dentro do for, pois haverá repetição a cada cadastro novo -->
            <div class="info_cliente">
                <div class="info_objeto">{{objeto.nome}}</div>
                <div class="info_objeto">{{objeto.sobrenome}}</div>
                <div class="info_objeto">{{objeto.email}}</div>
                <div class="info_objeto">{{objeto.cpf}}</div>
                <div class="info_objeto">
                    {% if objeto.status %}
                    <div class="status_ativo">Ativo</div>
                    {% else %}
                    <div class="status_inativo">Inativo</div>
                    {% endif %}
                </div>
                <div class="info_objeto">
                    <a id="botao_editar" href="{% url 'editar' objeto.id %}" role="button">Editar</a>
                </div>
                <div class="info_objeto">
                    <a id="botao_excluir" href="{% url 'excluir' objeto.id %}" role="button">Excluir</a>
                </div>
            </div>
            {% endfor %}

            <!-- Inicio Paginação -->
            <nav aria-label="Page navigation example" class="paginacao-container">
                <ul class="pagination">
                    {% if page_obj.has_previous %} <!-- Tem pagina anterior, botões linkados -->
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %} <!-- Não tem pagina anterior, botões desativados -->
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="First">&laquo;&laquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Previous">&laquo;</span>
                    </li>
                    {% endif %} <!-- Tem pagina anterior --> 
                    <!-- Verifica se há mais de uma pagina para ser exibida -->
                    {% if page_obj.paginator.num_pages > 1 %}
                    <!-- Se a pagina atual for maior que 1, siginifica que existe uma pagina anterior, então a pagina anterior é linkada e exibida -->
                    {% if page_obj.number > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <span class="page-link">{{ page_obj.number }}</span>
                    </li>
                    <!-- Se a pagina atual for menor que o número total de paginas, exibe um link para a proxima pagina -->
                    {% if page_obj.number < page_obj.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                    {% if page_obj.has_next %} <!-- Existe paginas a serem exibidas, linka os botões proxima e ultima -->
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                    {% else %} <!-- Caso não exista paginas a serem exibidas, os botões ficam desabilitados -->
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Next">&raquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Last">&raquo;&raquo;</span>
                    </li>
                    {% endif %}
                </ul>
                <span class="total-clientes">Total de Clientes: {{ total_clientes }}</span>
            </nav>
            <!-- Fim paginação -->
        </div>
    </div>
    <!-- Fim container -->
{% endblock %}