{% extends 'form_app/shared/base.html' %}

{% load static %}  <!-- Carrega os arquivos estaticos da pagina -->
{% block title %}Login{% endblock %} <!-- Título específico para esta página -->

{% block extra_css %} <!-- Adiciona o CSS especifico/unico da pagina -->
<link rel="stylesheet" href="{% static 'form_app/css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Área de Administrador</h3>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="col-12 col-lg-12">
                    <label class="subtitulo" for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{ field }}
                </div>
                {% endfor %}
                {% if messages %}
                <div>
                  {% for message in messages %}
                  <!-- Aqui será exibida a mensagem da views login, nomeada na "extra_tags" como "error_login", evitando conflito entre mensagens de "messages"-->
                  {% if 'error_login' in message.extra_tags %} 
                  <span class="messages {{ message.tags }}">{{ message }}</span>
                  {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
            <div>
                <button class="botao" type="submit">Entrar</button>
            </div>
        </form>
    </div>

{% endblock %}