{% extends 'shared/base.html' %}
{% block content %}
<title>Formulario</title> <!--Nome da Guia de Navegação-->

    <style>
        .container-fluid {
            border-radius: 15px;
            border-width: 10px;
            border-color: cadetblue;
            border-style: solid;

        }

        #inputs {
            color: rgb(0, 0, 0);

            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;

        }

        #titulo {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
            font-weight: bold;
        }

        #botao {
            background-color: black;
            color: rgb(45, 152, 173);
            border-radius: 20px;
            font-weight: bold;
            font-size: 20px;

            margin-top: 25px;
            margin-bottom: 25px;
            width: auto;
            height: auto;
        }

        .mensagens {
            font-weight: bold;
            font-size: 20px;

        }
    </style>

        <form id="formulario" action="{% url 'editar' cliente_id %}" method="POST">
            <!-- Chave de segurança -->
            {% csrf_token %}
            <h3 id="titulo">Dados do Cliente</h3>

            <div class="container text-center">
                {% for field in dados.visible_fields %}

                {% if forloop.counter0|divisibleby:3 %}
                <div class="row">
                    {% endif %}
                    <div class="col-md-4">
                        <div id="inputs">
                            <label id="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        {{ field }}

                        {% if field.errors %}
                        <div class="alert alert-warning" role="alert" style="font-weight: bold;">
                            {% for error in field.errors %}
                            {{ error }} <!-- Aqui aparece a mensagem de erro -->
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                </div>
                {% elif forloop.last %}
            </div>
            {% endif %}
            {% endfor %}
            <button id="botao" type="submit">Salvar Alterações</button>

            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                <p class="mensagens" style="color: rgb(0, 0, 0);">{{ message }}</p>
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
                <p class="mensagens" style="color: #0074f9;">{{ message }}</p>
            </div>
            {% endif %}
            {% endfor %}
    </form>

    {% endblock %}
