{% extends 'shared/base.html' %}
{% block content %}
<title>Clientes Cadastrados</title> <!--Nome da Guia de Navegação-->

<style>
    .corpo {
        background-color: wheat
    }
    .borda{ 
        border: 5px;
        border-radius: 5px;
        border-style: solid;
        border-color: rgb(10, 105, 120);
    }

    .container {
        margin-top: 50px;
    }


    .subtitulos {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding:10px;
        /* 
        border-color: black;
        border-style: solid;
        border-width: 20px; */
    }

    .info_cliente {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        
    }

    .info_objeto {
        width: 150px;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .status_ativo {
        background-color: rgb(9, 167, 127);
    }

    .status_inativo {
        color: rgb(0, 0, 0);
        background-color: rgb(139, 63, 65);
    }

    .status_ativo,
    .status_inativo {
        /* Centralizando "ativo" e "Inativo" dentro do quadrado*/
        align-items: center;
        display: flex;
        justify-content: center;
        /* Fim Centralizando */
        font-size: 14px;
        font-weight: bold;
        width: 55px;
        height: 30px;
        border: 2px solid black;
        border-radius: 5px;
        opacity: 0.8;
        /* Fazendo com que não seja possivél interagir com o campo de "Status" */
        pointer-events: none;
    }
</style>

<body class="corpo">

    <div class="container">
        <h2>Clientes Cadastrados</h2>
        <!-- Essa parte inicial do table está fora do for, pois não vai se repetir -->
         <div class="borda">
                <div class="subtitulos">
                    <h5 scope="col">Nome</h5>
                    <h5 scope="col" style="padding-left: 90px;">Sobrenome</h5>
                    <h5 scope="col" style="padding-left: 90px;">Email</h5>
                    <h5 scope="col" style="padding-left: 90px;">Número do Celular</h5>
                    <h5 scope="col" style="padding-left: 90px;">Status</h5>
                    <h5 scope="col" style="padding-left: 90px;">Editar</h5>
                    <h5 scope="col" style="padding-left: 90px;">Excluir</h5>
                </div>

                {% for objeto in cliente %}<!-- Dentro do for, pois haverá repetição a cada cadastro novo -->
                <div class="info_cliente">
                    <div class="info_objeto" style="padding-left: 25px;">{{objeto.nome}}</div>
                    <div class="info_objeto" style="padding-left: 25px;">{{objeto.sobrenome}}</div>
                    <div class="info_objeto" style="padding-left: 25px;">{{objeto.email}}</div>
                    <div class="info_objeto" style="padding-left: 80px;">{{objeto.celular}}</div>
                    <div class="info_objeto" style="padding-left: 30px;">
                        {% if objeto.ativo %}
                        <div class="status_ativo">Ativo</div>
                        {% else %}
                        <div class="status_inativo">Inativo</div>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{% url 'editar' objeto.id %}" style="padding-left: 30px;" role="button">Editar</a>
                    </div>
                    <div>
                        <a href="{% url 'excluir' objeto.id %}" style="padding-left: 30px;" role="button">Excluir</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</body>
{% endblock %}