{% extends 'shared/base.html' %}
{% block content %}
<title>Clientes Cadastrados</title> <!--Nome da Guia de Navegação-->

<style>
    .messages {
        margin-left: 20px;
    }

    .corpo {
        background-color: wheat;
        padding-top: 60px;

    }

    #titulo_tabela {
        text-align: center;
    }

    .buscar {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        /* Ocupa toda a largura da div*/
        padding-bottom: 5px;
        /* Espaçamento inferior */
        padding-left: 310px;
        /* Espaçamento a esquerda */
        margin: 0;
        /* Remove as margens */
    }

    .form-control {
        color: rgb(245, 245, 245);
        background-color: rgb(227, 198, 162);
    }

    /* Estiliza o placeholder de determinado input */
    .form-control::placeholder {
        color: rgb(34, 48, 60);
        font-size: 15px;
        font-weight: bold;
    }

    .botao_pesquisa {
        background-color: rgb(136, 127, 108);
        color: rgb(34, 48, 60);
        font-weight: bold;
        border-radius: 10px;
    }

    .botao_pesquisa:hover {
        color: whitesmoke;
        /* Muda a cor do link ao passar o mouse */
    }

    .div_mensagem {
        text-align: left;
        margin: 0;
        padding-top: 8px;
        /* background-color: aqua; Teste */
    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin: 0 auto;
        width: 100%;
    }

    .borda_container {
        background-color: black;
        width: auto;
        /* Largura maxima */
        max-width: 1200px;
        /* Tamanho, estilo, cor */
        border: 7px solid rgb(0, 0, 0);
        border-radius: 8px;
    }

    /* Div dos subtitulos */
    .subtitulos {
        color: whitesmoke;
        background-color: rgb(0, 0, 0)
    }

    .subtitulos,
    .info_cliente {
        /* Configura layout de grade */
        display: grid;
        /* Centraliza verticalmente os itens na grade */
        align-items: center;
        /* Largura entre as colunas */
        grid-template-columns: 120px 150px 200px 150px 80px 80px 80px;
    }

    /* Estiliza a fonte do subtitulo */
    .fonte_subtitulo {
        font-size: 20px;
        text-align: center;
    }

    #subtitulo_status {
        padding-right: 12px;
    }

    /* Ajusta o posicionamento dos substitulos correspondente a informação do cliente  */
    #subtitulo_editar,
    #subtitulo_excluir {
        padding-left: 17px;
    }

    /* Div responsavel por posicionar corretamente as informações do cliente de acordo com o subtitulo correspondente a cada uma delas */
    .info_cliente {
        padding-left: 5px;
        margin-bottom: 5px;
        background-color: antiquewhite
    }

    /* Estiliza as informações do cliente */
    .info_objeto {
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;

    }

    /* Estiliza o conteudo dentro do quadrado de 'status' */
    .status_ativo {
        background-color: rgb(9, 167, 127);
    }

    /* Estiliza o conteudo dentro do quadrado de 'status' */
    .status_inativo {
        color: rgb(0, 0, 0);
        background-color: rgb(139, 63, 65);
    }

    .status_ativo,
    .status_inativo {
        margin-top: 3px;
        margin-bottom: 3px;
        /* Centraliza "ativo" e "Inativo" dentro do quadrado*/
        align-items: center;
        display: flex;
        justify-content: center;
        /* Fim Centraliza */
        font-size: 14px;
        font-weight: bold;
        width: 55px;
        height: 30px;
        border: 2px solid black;
        border-radius: 5px;
        opacity: 0.8;
        /* Faz com que não seja possivél interagir com o campo de "Status" */
        pointer-events: none;
    }

    #botao_editar {
        color: rgb(144, 118, 50);
    }

    #botao_excluir {
        color: rgb(149, 65, 65);
    }
    .pagination {
        display: flex; /* Alinha os itens em uma linha */
        padding: 0; /* Remove o padding padrão */
    }

    /* Container da paginação */
    .paginacao-container {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 0 15px; 
    }

    .page-item {
        /* Espaçamento entre os botões */
        margin: 0 2px;
    }

    /* Estiliza a mensagem onde exibe a quantidade total de clientes cadastrados */
    .total-clientes {
        margin-left: auto; 
        font-weight: bold;
        font-size: 18px;
        color: rgb(252, 252, 252);
    }

    /* Estiliza os botões independente do status de ativo ou desativado */
    .page-link {
        display: block; /* Torna o link um bloco */
        padding: 10px 15px; /* Espaçamento top e bottom, left e right*/
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 5px; 
        background-color: rgb(170, 137, 113); 
    }
    

    /* Estiliza quando passa o mouse no botão */
    .page-link:hover {
        background-color: #59797b; 
        color:whitesmoke ; 
    }

    /* Estiliza o botão enquanto ativado */
    .page-item.active .page-link {
        background-color: #000000; 
        color:whitesmoke ; 
        border-color:rgb(205, 205, 205) ; 
    }

    /* Estiliza botão enquando desativado */
    .page-item.disabled .page-link {
        color: #232323; 
        background-color: rgb(170, 137, 113); 
        pointer-events: none; 
        border-color: #4e3c34; 
    }

    /* Mensangens De Aviso*/
    .messages.info {
        font-weight: bold;
        color: #8e7926;
    }

    /* Mensangens Bem Sucedidas */
    .messages.success {
        font-weight: bold;
        color: #155724;
    }

    /* Mensangens Mal Sucedidas */
    .messages.error {
        font-weight: bold;
        color: rgb(178, 73, 73);
    }
</style>

<body class="corpo">
    <div id="titulo_tabela">
        <h2>Clientes Cadastrados</h2>
    </div>
    <div class="buscar">
        <nav class="barra_pesquisa">
            <div class="container-fluid">
                <form action="{% url 'exibir' %}" method="POST" class="d-flex" role="search">
                                        <!-- Chave de segurança -->
                                        {% csrf_token %}
                    <input class="form-control me-2" type="search" name="cpf" placeholder="Buscar por CPF"aria-label="Search">
                    <button class="botao_pesquisa" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <!-- Exibe as mensagens e estiliza de acordo com a sua extra_tags correspondente em cada views-->
        {% if messages %} <!-- Mensagem da função 'buscar' em views -->
        <div class="div_mensagem">
            {% for message in messages %}
            <!-- Ao colocar message.tags na linha abaixo, a mensagem relacionada a 'buscar' não fica alinhada ao lado do botão de input da maneira correta, verificar! -->
            {% if 'buscar' in message.extra_tags %}
            <span class="messages {{ message.tags }}">{{ message }}</span>
            {% elif 'editar' in message.extra_tags %}
            <span class="messages {{ message.tags }}">{{ message }}</span>
            {% elif 'excluir' in message.extra_tags %}
            <span class="messages {{ message.tags }}">{{ message }}</span>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <!-- Inicio container -->
    <div class="container">
        <div class="borda_container">
            <div class="subtitulos">
                <h5 class="fonte_subtitulo" id="subtitulo_nome" scope="col">Nome</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_sobrenome" scope="col">Sobrenome</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_email" scope="col">Email</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_number" scope="col">CPF</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_status" scope="col">Status</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_editar" scope="col">Editar</h5>
                <h5 class="fonte_subtitulo" id="subtitulo_excluir" scope="col">Excluir</h5>
            </div>
            {% for objeto in page_obj %}
            <!-- Dentro do for, pois haverá repetição a cada cadastro novo -->
            <div class="info_cliente">
                <div class="info_objeto">{{objeto.nome}}</div>
                <div class="info_objeto">{{objeto.sobrenome}}</div>
                <div class="info_objeto">{{objeto.email}}</div>
                <div class="info_objeto">{{objeto.cpf}}</div>
                <div class="info_objeto">
                    {% if objeto.status %}
                    <div class="status_ativo">Ativo</div>
                    {% else %}
                    <div class="status_inativo">Inativo</div>
                    {% endif %}
                </div>
                <div class="info_objeto">
                    <a id="botao_editar" href="{% url 'editar' objeto.id %}" role="button">Editar</a>
                </div>
                <div class="info_objeto">
                    <a id="botao_excluir" href="{% url 'excluir' objeto.id %}" role="button">Excluir</a>
                </div>
            </div>
            {% endfor %}

            <!-- Inicio Paginação -->
            <nav aria-label="Page navigation example" class="paginacao-container">
                <ul class="pagination">
                    {% if page_obj.has_previous %} <!-- Tem pagina anterior, botões linkados -->
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %} <!-- Não tem pagina anterior, botões desativados -->
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="First">&laquo;&laquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Previous">&laquo;</span>
                    </li>
                    {% endif %} <!-- Tem pagina anterior --> 
                    <!-- Verifica se há mais de uma pagina para ser exibida -->
                    {% if page_obj.paginator.num_pages > 1 %}
                    <!-- Se a pagina atual for maior que 1, siginifica que existe uma pagina anterior, então a pagina anterior é linkada e exibida -->
                    {% if page_obj.number > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:"-1" }}">{{ page_obj.number|add:"-1" }}</a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <span class="page-link">{{ page_obj.number }}</span>
                    </li>
                    <!-- Se a pagina atual for menor que o número total de paginas, exibe um link para a proxima pagina -->
                    {% if page_obj.number < page_obj.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.number|add:"1" }}">{{ page_obj.number|add:"1" }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                    {% if page_obj.has_next %} <!-- Existe paginas a serem exibidas, linka os botões proxima e ultima -->
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                    {% else %} <!-- Caso não exista paginas a serem exibidas, os botões ficam desabilitados -->
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Next">&raquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" aria-label="Last">&raquo;&raquo;</span>
                    </li>
                    {% endif %}
                </ul>
                <span class="total-clientes">Total de Clientes: {{ total_clientes }}</span>
            </nav>
            <!-- Fim paginação -->
        </div>
    </div>
    <!-- Fim container -->
</body>
{% endblock %}