{% extends 'shared/base.html' %}
{% block content %}
<style>
    .corpo {
        background-color: wheat;
        align-items: center;
    }

    /* Classe definida no arquivo form.py */
    .form-control {
        width: 100%;
        padding: 5px;
        text-align: center;
        margin: 2px 0;
    }

    .container {
        background-color: rgb(251, 207, 160);

        width: auto;
        max-width: max-content;
        padding: 30px;
        margin-top: 100px;

        border-color: black;
        border-radius: 15px;
        border-style: solid;
        border-width: 10px;

        /* Centraliza os itens dentro do container*/
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .subtitulo {
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }

    .botao {
        background-color: black;

        color: whitesmoke;
        font-weight: bolder;
        margin-top: 15px;
        padding: 5px;
        border-radius: 5px;
    }

    /* Mensangens Mal Sucedidas */
    .messages.error {
        font-weight: bold;
        color: rgb(178, 73, 73);
    }

    /* Estiliza a tag 'form' do template */
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


</style>

<body class="corpo">
    <div class="container">
        <h3>Área de Administrador</h3>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="col-12 col-lg-12">
                    <label class="subtitulo" for="{{ field.id_for_label }}">{{field.label}}</label>
                    {{ field }}
                </div>
                {% endfor %}
                {% if messages %}
                <div>
                  {% for message in messages %}
                  <!-- Aqui será exibida a mensagem da views login, nomeada na "extra_tags" como "error_login", evitando conflito entre mensagens de "messages"-->
                  {% if 'error_login' in message.extra_tags %} 
                  <span class="messages {{ message.tags }}">{{ message }}</span>
                  {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
            <div>
                <button class="botao" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</body>

{% endblock %}